[data-testid="stSidebarNav"] {
                background-image: url("https://github.com/dataprofessor/st-multipage-with-logo/raw/master/logo.png");
                background-size: 80%;
                background-repeat: no-repeat;
                margin-top: 500px;
                background-position: center top;
            }
