[data-testid="stSidebarNav"] {
                background-image: url("../streamlit-logo-primary-colormark-darktext.png");
                background-size: 80%;
                background-repeat: no-repeat;
                padding-top: 50px;
                background-position: center top;
                /* background-position: 20px 20px; */
            }
[data-testid="stSidebarNav"]::before {
                content: "Menu";
                margin-left: 20px;
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: 20px;
                font-weight: bold;
                position: relative;
                top: 100px;
                bottom: 100px;
            }
