[data-testid="stSidebarNav"] {
                background-image: url(../streamlit-logo-primary-colormark-darktext.png);
                background-repeat: no-repeat;
                padding-top: 120px;
                background-position: 20px 20px;
            }
[data-testid="stSidebarNav"]::before {
                content: "My Company Name";
                margin-left: 20px;
                margin-top: 20px;
                font-size: 30px;
                position: relative;
                top: 100px;
                bottom: 100px;
            }
